<!DOCTYPE html>
<html>
<head>
	<title>Test Form</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="form.js"></script>
</head>
<body>
<div>
<form method="POST" action="">
	<input type="email" id="username" name="username" placeholder="email">
	<button type="submit">Join Community</button>
    </form>
</div>
</body>
</html>