body {
    margin: 0px;
    background-color: white;
    min-height: 300px;
}

/* Menu Bar*/

.fa-2x {
    font-size: 2em;
}

i.fa {
    position: relative;
    display: table-cell;
    text-align: center;
    width: 80px;
    height: 60px;
    vertical-align: middle;
    font-size: 20px;
}

.fa-trophy,
.fa-sitemap,
.fa-futbol {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.sidebar li {
    position: relative;
    display: block;
    width: 250px;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    text-decoration: none;
    display: table;
    height: 60px;
}



a:visited {
    color: #999
}

.sidebar li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #d20a11;
}

ul {
    list-style-type: none;
}

.sidebar .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 60px;
}

.sidebar .check {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}

.check {
    /*    width:0;*/
    overflow: hidden;
    display: inline-block;
    opacity: 0;
    font-style: italic;
    position: absolute;
    color: #d20a11;

}

.check.check-on {
    animation: show 0.8s forwards;
    -webkit-animation: show 0.8s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show {
    0% {

        opacity: 0;
    }
    100% {

        opacity: 1;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    color: #999;
    background-color: #141414;
    padding-top: 20px;
    box-sizing: border-box;
    margin-left: -250px;
    transition: margin 0.6s ease-in-out;
    z-index: 3;

}

.sidebar.sidebar-open {
    margin-left: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
}

.sidebar-toggle {
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #141414;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, .6);

}

.sidebar-toggle:before {
    content: "\2630";
    font-weight: 600;
    color: white;
}

.sidebar.sidebar-open .sidebar-toggle:before {
    content: "\2715";

}

/* Select Form */

#search-form,
#output {
    text-align: center;
    max-width: 100vw;
    height: auto;
    width: auto;
    max-height: 100vh;
    padding: 10px;
}

select,
button {
    background-color: white;
    cursor: pointer;
    -webkit-height: 30px;
    height: 30px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    border-radius: 5px;
}

button:hover {
    background-color: #d20a11;
    color: aliceblue;
}


/* Main Page */

.trophy {
    max-width: 40%;
    /*  max-height:80vh;*/
}

.flags {
    max-width: 100%;
    border: 1px solid black;
}

#output {
    font-size: 24px;
    font-family: 'Righteous', cursive;
    transition: all 1s ease-in-out;
}

/* Home Team Area */

#cup {
    /*    border: 1px solid blue;*/
}


img {
    /*    border: 1px solid black;*/
}

#home-team {
    /*    border: 1px solid;*/
}

#away-team {
    /*    border: 1px solid;*/
}

.column {
    float: left;
    width: 33.33%;
    padding: 30px;
    text-align: center;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}

#home-country-code,
#away-country-code,
#home-score,
#away-score {

    font-family: 'Righteous', cursive;
    font-size: 6vw;
    font-weight: 300;
    color: #141414;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

/* change font size to change size */

#home-team,
#away-team {
    /*        border: 1px solid black;*/
    opacity: 0;
    -webkit-transition: all 1.5s;
    /* For Safari 3.1 to 6.0 */
    transition: all 1.5s;

}

#loaderA,
#loaderB {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 100px auto;
    display: none;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: red;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.dot1,
.dot2 {
    left: 0;
}

.dot3 {
    left: 1.5em;
}

.dot4 {
    left: 3em;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}


.dot1 {
    animation-name: reveal;
}

.dot2,
.dot3 {
    animation-name: slide;
}

.dot4 {
    animation-name: reveal;
    animation-direction: reverse;
}

#date,
#visits {
    position: relative;
    bottom: 0;
    text-align: center;
}

/* BRACKETS */

h2 {
    font-family: righteous;
    font-size: 20px;
}

.rounds {

    transition: opacity 1.5s;
}

.rounds.appear {
    opacity: 1;
}

.cup-bracket {
    width: 100px;
}

.shine-effect {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.divider {
    height: 10px;
}

.shine-effect:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-35deg);
}

.shine-effect:before {
    animation: shine 5s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    20% {
        left: 130%;
    }
    100% {
        left: 130%;
    }

}

.cup-bracket {

    animation: pulse infinite alternate 3s;
}

@keyframes pulse {
    0% {
        width: 15%;
    }
    100% {
        width: 50%;
    }
}

.col-container {
    display: table;
    width: 100%;
    height: 550px;
    text-align: center;
}

#team-container {
    text-align: center;
}

.team {

    float: left;
    height: 18px;
    line-height: 20px;
    font-size: 14px;
}

.flag {
    max-width: 100%;
}

.country-name {
    width: 160px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.team-goals {
    width: 20px;
    max-width: 100%;
    float: left;

}


.team-bracket {
    display: inline-block;
    width: 220px;
    max-width: 100%;
    height: 20px;
    border: 1px solid;



}

#arg {
    height: 18px;
}

.column-2 {
    vertical-align: middle;
    display: table-cell;

    padding-top: 15px;
}

@media only screen and (max-width: 800px) {
    .column-2 {
        display: block;
        width: 100%;
    }
}

/* TOP SCORERS SECTIOM */

.spacer {
    height: 50px;
}

#scorer-display {
    margin: auto;
    width: 100%;
    height: auto;
}

.front img {
    border-radius: 20px;
}

.heroImg {
    height: 240px;
    width: 190px;
}

#wrapper {
    margin: auto;
    text-align: center;
    width: 900px;
}

.card-container {
    perspective: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container:hover .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

.card-container,
.front,
.back {

    display: inline-grid;
    width: 190px;
    height: 240px;
}

.card {
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    background-color: #f3c26a;
    position: absolute;
    top: 0;
    left: 0;
}

.front h1,
.back h1 {
    text-align: center;
}

.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);

}

.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    color: white;
    background-color: black;
}

.form-signin {
    padding-top: 200px;
    text-align: center;
}

.gif {
    margin-top: -20px;
}

/*Top navbar*/

.navbar {
    overflow: hidden;
    background-color: #141414;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
    z-index: 1;
}

.navbar form {
    float: right;
    display: block;
    color: #f2f2f2;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar input {
    border-radius: 5px;
    height: 24px;
}

.join {
    background-color: white;
    cursor: pointer;
    -webkit-height: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Righteous', cursive;
    border-radius: 5px;

}